.input-area {
  width: 350px;
  height: 200px;
  padding: 0.5rem;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  font-size: 1.25rem;
  padding: 1rem;
}