/* inconsolata-regular - latin */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/inconsolata/inconsolata-v30-latin-regular.woff2') format('woff2'), url('../../fonts/inconsolata/inconsolata-v30-latin-regular.woff') format('woff');
}


/* inconsolata-700 - latin */
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/inconsolata/inconsolata-v30-latin-700.woff2') format('woff2'), url('../../fonts/inconsolata/inconsolata-v30-latin-700.woff') format('woff');
}

/* font icons */
@font-face {
  font-family: 'font-icons';
  src: url('../../fonts/icons/font-icons.woff2') format('woff2'),
    url('../../fonts/icons/font-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$icon-class-prefix: 'icon__';
$icons: (
  mic: unicode(ea03),
  hearing: unicode(ea04),
  translate: unicode(ea05),
  backup: unicode(ea06),
  stop: unicode(ea07),
  speak: unicode(ea08)
);

@each $class, $unicode in $icons {
    .#{$icon-class-prefix}#{$class}:before {
        content: $unicode;
    }
}

[class*='#{$icon-class-prefix}'] {
    font: normal normal normal 1.5em 'font-icons';
}

/* headings font sizes */
$headings-font-sizes: 2em, 1.75em, 1.5em, 1.25em, 1.125em, 1em;
@for $i from 1 through 6 {
  $selectors: "h#{$i}";
  #{$selectors} {
    font-size: nth($headings-font-sizes, $i);
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }
}