$palettes: (
  primary: (
    light: (
      color: #5e91f2,
      contrastColor: #000,
    ),
    normal: (
      color: #1564bf,
      contrastColor: #fff,
    ),
    dark: (
      color: #003b8e,
      contrastColor: #fff,
    )
  ),
  secondary: (
    light: (
      color: #62727b,
      contrastColor: #000,
    ),
    normal: (
      color: #37474f,
      contrastColor: #fff,
    ),
    dark: (
      color: #102027,
      contrastColor: #fff,
    )
  )
);

$actionColors: (
  positive: forestgreen,
  negative: crimson
);

:root {
  @each $paletteName, $paletteValues in $palettes {
      @each $toneName, $toneValues in $paletteValues {
          $keyname: "--palette-" + $paletteName + "-" + $toneName;
          #{$keyname}-color: map-get($toneValues, color);
          #{$keyname}-contrast-color: map-get($toneValues, contrastColor);
        }
  }
  @each $actionColorName, $actionColor in $actionColors {
    $keyname: "--action-" + $actionColorName;
    #{$keyname}-color: $actionColor;
  }
}